.list-item {
  display: grid;
  grid-template-columns: 60px 50px 40px 120px 40px;
  gap: 10px;
  margin-bottom: 10px;
}

.toggle-button-container {
  display: flex;
  align-items: center;
  padding: 2px;

  width: 40px;
  border-radius: 9px;
  background-color: #777;
}
.toggle-button {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}
.product-name {
  display: flex;
}
.list-img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.id {
  border: none;
}
.input-product-feild {
  width: 80px;
  border: none;
}
.btn-remove-item {
  margin-left: 10px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.toggle-on {
  justify-content: flex-end;
}
