.multiselect-container {
  width: 100%;
  display: flex;
  position: relative;
  background-color: blueviolet;
}
.multiselect-container input {
  /* border: none; */
}
.selected-list {
  display: none;
  background-color: white;
  width: 130px;
  bottom: -90px;
  height: 90px;
  overflow-y: scroll;
  position: absolute;
  z-index: 999;
  flex-direction: column;

  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
}
.list-item-dot {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.selected {
  background-color: gray;
}
.list-item-multiselect {
  display: flex;
  gap: 10px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  align-items: center;
}
.multiselect-container:hover .selected-list {
  display: flex;
}
